# Compiled binaries
*.exe
*.obj
*.ilk
*.pdb
*.map

# MASM / Linker output
*.lst
*.log

# Visual Studio files
.vs/
*.suo
*.user
*.vcxproj.user

# Build folders
Debug/
Release/
x86/

# Temporary / backup files
*.tmp
*.bak
*.old

# Windows system files
Thumbs.db
Desktop.ini
